# Google Sheet ID ที่ใช้เป็นฐานข้อมูล
NEXT_PUBLIC_GOOGLE_SHEET_ID=1S8XLzMp1w9CdeW5rydKmTYvvL_ie-ecFIfQbqi_P_D0

# Google Apps Script Web App URL (เมื่อ Deploy Web App จาก Extensions > Apps Script ใน Google Sheet แล้ว ให้นำ URL มาใส่ที่นี่)
# สามารถระบุใน Vercel Environment Variables ได้เช่นกัน
NEXT_PUBLIC_APPS_SCRIPT_URL=
